*,html {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: rgb(35, 35, 35);
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

main {
    height: 180vh;
}

.logo-side {
    display: flex;
}

.img1 {
    width: 35px;
}

.logo {
    margin-left: 20px;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.hamburger-menu {
    margin-right: 20px;
}

h1 {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: normal;
}


.btn {
    background-color: rgb(240, 84, 66);
    color: white;
    border: transparent;

}

.btn1 {
    width: 80px;
    height: 30px;
    position: absolute;
    right: 311px;
    font-size: 18px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-wrapper {
    height: 100%;
    margin-bottom:10px;
    margin-right: 10px;
    display: flex;
    align-items: start;
    justify-content: start;
}

.text-wrapper {
    margin-left: 20px;
}

.btn2 {
    font-weight: bold;
    width: 50px;
    height: 30px;
}

.place {
    width: 100%;
}